<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:each="order : ${orders}">
    <p th:text="${order}">asd</p>
    <a th:href="'order/'+${order.getOrderId()}" th:text="ref"></a>
    <a th:if="${permit}" th:href="'delete/'+${order.getOrderId()}" th:text="delete"></a>
    <a th:if="${principalll.getName().equals(order.getSeller().getEmail())}" th:href="'edit/'+${order.getOrderId()}" th:text="edit"></a>
    <a th:if="${principalll.getName().equals(order.getSeller().getEmail())}" th:href="'delete/'+${order.getOrderId()}" th:text="delete"></a>
</th:block>
<form>
    <label for="checkbox1">Sort by id<input type="checkbox" id="checkbox1" name="checkbox1"></label>
    <input type="submit">
</form>
<form method="post" action="addorder">
    <input type="text" name="address" placeholder="address">
    <input type="text" name="payment" placeholder="payment">
    <input type="text" name="type" placeholder="type">
    <input type="text" name="configuration" placeholder="configuration">
    <input type="number" name="price" placeholder="price">
    <input type="submit">
</form>
</body>
</html>